:root {
    --primary-color: #1c203f;
    --section-bg: #151F3C;
    --secondary-color: #31386e;
    --translucidPrimary-color:rgb(28, 32, 63,.9);
    --accent-color: #b9ce24;
    --bg-color: #f3f3f3;
    --body-bg-color: rgb(28, 32, 63,0.3);
    --blueSky-color: #0071BC;
    --bg-secondary-color: rgba(187, 207, 36, 0.8);
    --section-bg-color: #004e74;
  }
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    color:  rgb(28, 32, 63,0.6);
}
section {
    padding: 75px 5px !important;
    overflow: hidden;
  }
  

/*NavBar*/
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--primary-color);
    --bs-nav-link-hover-color: var(--blueSky-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


/*Ubicacion*/
#ubicacion img{
    width: 2rem;
    height: 2rem;
}
.ubicacion-section{
    display: flex;
    flex-wrap: wrap;
}
.d-flex {
    display: flex!important;
}


contact .info-item {
    width: 100%;
    background-color: #49635E;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}



.icono-custom{
    width: 4px;
    height: 4px;
}
.contact-contaier{
    background-color: var(--primary-color);
    border-radius: 1.2rem;
}
.contact-contaier .domicilio{
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 1.2rem;
    padding: 10px;

}

.contact-contaier .domicilio p{
    text-align: justify;
    padding-left: 5px;
}

.contact-contaier .email p{
    padding-left: 5px;
}
.contact-contaier .telefono p{
    padding-left: 5px;
}

.contact-contaier .email{
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 1.2rem;
    padding: 10px;

}
.contact-contaier .telefono{
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 1.2rem;
    padding: 10px;
   
}
.leyenda-ubicacion{
    background-color: var(--blueSky-color);
    border-radius: 1.2rem;
    display: grid;
    place-items: center;
}





#title-carrerasSec{
    color: var(--primary-color);
}
.btn-upx{
    background-color: var(--primary-color);
    color: white;
}

.btn-upx:hover{
    background-color: var(--secondary-color);
}

.btn-carrera.btn {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-carrera.btn:hover {
    color: white;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.text-login{
    color:var(--primary-color) !important;
    font-weight: 500;
}

.text-login:hover{
    text-decoration: underline 2px;
}

/* add mision vision nosotros*/
.tituloMain:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 4px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    margin: auto;
    color: var(--primary-color);
    margin-bottom: 15%;
    
}

.tituloMain {
    color: var(--primary-color);
    text-align: center;
    display: block;
    /* margin-top: 40vh;
    margin-bottom: 15px; */
}

.subTituloMain::before{
    content: "";
    display: block;
    width: 35%;
    height: 4px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    margin: auto;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.subTituloMain{
    text-align: center;
    color: var(--primary-color);
}


.subTitulo::before{
    content: "";
    display: block;
    width: 15%;
    height: 4px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    margin: auto;
    color: var(--primary-color);
    /* margin-bottom: 15%; */
}

.subTitulo{
    text-align: center;
    color: var(--primary-color);
}

/* Inicio nosotros */
.textoNosotros{
    padding: 0px 50px;
    text-align: justify;
    overflow: hidden;
}


#nosotros{
    /* background-color: rgb(28, 32, 63,0.8); */
    /* margin-top: 20%; */


}

.content-bg{
    padding: 100px;
    background-color: white;
    box-shadow: #000;
    border-radius: 1.2rem;
}

.custom-padding {
    /* padding: 76px; */
    /* padding: 100px; */
}

/* .custom-margin{
    margin-bottom: 23%;
} */



/* fin Nosotros */

/* Modal */
.modal-header{
    background-color: var(--primary-color);
    color: white;
}
.modal-body{
    background-color: var(--bg-color);
}
.modal-footer{
    background-color: var(--bg-color);
}

#header img{
    width: 50px;
  
}

#header {
    text-transform: uppercase;
}
#logo-nav{
    padding-left: 5.5rem;
}

#header.sticky-top{

    background-color: var(--primary-color) ;
    color: #000 ;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    height: 10%;

}

/* main */

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    /* filter: grayscale(70%); */
}

#carousel {
    position: relative;
}

#carousel .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    color:white;

}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}


/* aspirantes */

 #aspirantes img{
    max-width: 75%;
} 

/* Becas */

#beca img{
    max-width: 75%;
} 
/* Costos */
#costos img{
    max-width: 75%;
}






/* Accordeon */

.accordion {
    --bs-accordion-color: var(--bg-color);
    --bs-accordion-bg: var(--translucidPrimary-color);
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bg-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: white solid white;
    /* --bs-accordion-btn-bg: var(--bs-accordion-bg); */
    --bs-accordion-btn-bg: var(--primary-color);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: var(--accent-color);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(187, 207, 36, 0.5);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--primary-color); 
    --bs-accordion-active-bg: var(--accent-color);
    /* --bs-accordion-btn-active-icon-color: red; */
} 

/* btn close*/
.btn-close {
    --bs-btn-close-color: var(--accent-color);
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e);
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--accent-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
}


/* Login */
.form-control {
    display: block;
    width: 15%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




/* footer */
#footer{
    background-color:var(--primary-color);
}

#footer a{
    color: white;
    text-decoration: none;
}
#footer a:hover{
    color: var(--accent-color);
    text-decoration: none;
}
/* nuevo footer */
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    /* background-color: #0a141d; */
    background-color: var(--primary-color);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*footer text*/
.test{
    text-align: justify;
}




/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-container {
    background-color: var(--section-bg);
    height: 100%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  }
  
  .contact .info-item {
    width: 100%;
    background-color: var(--blueSky-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .contact .info-item:last-child {
    margin-bottom: 0;
  }
  
  /* .contact .info-item i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
   */
  .contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  /* .contact .info-item:hover i {
    background: #fff;
    color: var(--color-primary);
  } */
.section-bg-blue{
    background-color: var(--section-bg);
    color: var(--bg-color);
}
.section-bg-blue h2{
    color: var(--bg-color);
}
.section-bg-blue h1{
    color: var(--bg-color);
}
.section-bg-blue h4{
    color: var(--bg-color);
} 
.image-container {
    display: inline-block;
    background-color: var(--bg-color);
    border-radius: 1.5rem;
}
.lista-costos ul{
    font-weight: bolder;
    font-size: large;
}
.lista-costos li{
    font-size: large;
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
/* Agregar estilos para centrar la lista en dispositivos pequeños */
.list-container {
    text-align: center;
  }
  
  #listaAspirantes {
    text-align: left;
  }
  
  #listaAspirantes li {
    list-style: disc;
    margin-left: 20px;
  }
/* Agregar estilos para centrar el contenido en dispositivos pequeños */
@media (max-width: 767px) {
    .row {
      text-align: center;
    }
  
    .image-container {
      display: inline-block;
    }

    .accordion-list {
        text-align: left;
        display: block;
      }
    }
  
  
    